@(screen: String, fields: List[DataField], dataSource: String, popupEditorId: String, canAdd: Boolean, canDelete: Boolean)

@header(key:String, title:String) = {
    <th ng-click="getTable(0,'@key', ['asc','desc'][((data.order=='asc') + 0)],'');" class="header ng-class: ['', ['headerSortDown', 'headerSortUp'][((data.order=='asc') + 0)]][(data.sortBy=='@key') + 0];">
        <a>@title</a>
    </th>
}

<div class='row' ng-controller="RowDataCtrl">
    <form class="form-search">
        <div class="input-append">
            <input type="text" class="span2 search-query" ng-model="filterStr">
            <button type="submit" class="btn fixed-btn" href="" ng-click="getTable(0, '', '', filterStr)">Найти</button>
            <button class="btn" type="button" href="" ng-click="resetFilter()">Очистить</button>
        </div>
        @if(canAdd){
            <button type="submit" class="btn pull-right" href="" ng-click="showpopup('new')">Добавить</button>
        }
    </form>


    <div class="well" ng-show='data.data.length==0'>
        <em>Nothing to display</em>
    </div>

    <table class="table table-striped table-bordered" ng-hide='data.data.length==0'>
        <thead>
            <tr>
                @for(field <- fields){
                    @header(field.dataFieldName, field.dataFieldCaption)
                }
                @if(canDelete){
                    <th>
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in data.data">
                @for(col <- fields){
                <td>
                    @if(col.dataFieldName == fields(0).dataFieldName){
                        @if(popupEditorId != null){
                            <a href="javascript:void(0)" ng-click="showpopup(row.@col.dataFieldName)">{{row.@col.dataFieldName}}</a>
                        }else{
                            <a>{{row.@col.dataFieldName}}</a>
                        }
                    }else{
                        {{row.@col.dataFieldName}}
                    }
                </td>
                }
                @if(canDelete){
                <td class="span1">
                    <button class="btn btn-danger" type="button" href="" ng-click="deleteRecord(row.@fields(0).dataFieldName)">Delete</button>
                </td>
                }
            </tr>
        </tbody>
    </table>

    <div id="pagination" class="row pagination" ng-hide='data.data.length==0'>
        <ul>
            <li class="prev" ng-show="data.hasPrev">
                <a href="" ng-click="getTable(-1,'','','')">&larr; Previous</a>
            </li>
            <li class="prev disabled" ng-show="!data.hasPrev">
                <a>&larr; Previous</a>
            </li>
            <li class="current">
                <a>Displaying {{data.getDisplayNum}}</a>
            </li>

            <li class="next" ng-show="data.hasNext">
                <a href="" ng-click="getTable(1, '', '', '')">Next &rarr;</a>
            </li>
            <li class="next disabled" ng-show="!data.hasNext">
                <a>Next &rarr;</a>
            </li>
        </ul>
    </div>
</div>

<script type="text/javascript">
    var page = 0,
        sortBy = "@fields(0).dataFieldName",
        order = "asc",
        filter = "";

    function RowDataCtrl($scope, $routeParams, $http) {
        $http.post("@dataSource" + "&mode=tabledata&sort=" + sortBy, "{}", $routeParams).success(function(data) {
            $scope.data = data;
        });

        $scope.getTable = function(incpage, newsort, neworder, newfilter) {
            if(incpage !== 0){
                page = page + incpage;
            }
            if(neworder !== '' && newsort == sortBy){
                order = neworder;
            }
            if(newsort !== ''){
                sortBy = newsort;
            }
            if(newfilter !== ''){
                filter = newfilter;
                page = 0;
            }
            $http.post("@dataSource&mode=tabledata&page=" + page + "&sort=" + sortBy + "&order=" + order + "&filter=" + filter, "{}").success(function(data) {
                $scope.data = data;
            });
        };
        $scope.resetFilter = function(){
            page = 0;
            filter = '';
            $scope.filterStr = '';
            $scope.getTable(0, '', '', '');
        }
        $scope.update = function(){
            $scope.getTable(0, sortBy, order, filter);
        }
        $scope.deleteRecord = function(id){
            $http.post("@dataSource&mode=delete" + "&filter=" + id, "{}", $routeParams).success(function(data) {
                $scope.update();
            });
        }
        $scope.showpopup = function(id){
            showDataEditPopup(id, $scope.update);
        };
    }

</script>