@(popupId: String, title: String, dataSource: String, width: Int = 0)(content: Html)

<div aria-hidden="false" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" @if(width!=0){style="width: @(width)px; margin-left:-@(width/2)px;"} class="modal hide fade in" id="@popupId" ng-controller="WinDataCtrl">
    <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
        <h3 id="myModalLabel">@title</h3>
    </div>
    <div class="modal-body" id='editDataPopup'>
        @content
    </div>
    <div class="modal-footer">
        <button data-dismiss="modal" class="btn">Close</button>
        <button ng-click='savedata()' class="btn btn-primary">Save</button>
    </div>
</div>
<script type="text/javascript">
    var updateCallback;
    var previd;
    function WinDataCtrl($scope, $routeParams, $http) {
        $scope.getListByFilter = function(listName, filter){
            $http.get("/admimistration/listboxdata?list=" + listName + "&filter=" + filter, $routeParams).success(function(data) {
                $scope[listName] = data;
            });
        };
        $scope.updatedata = function(id) {
            $http.post("@dataSource&mode=windata&filter="+id, "{}",$routeParams).success(function(data) {

                if(id == 'new' || id != previd)
                {
                    $('#editDataPopup input').each(function(index){
                        $(this).val('');
                        $(this).prop('checked', false);
                    });
                    previd = id;
                }
                $scope.id = id;
                $scope.data = data;
            });
        };
        $scope.savedata = function(){
            if(window.validatePopup){
                if(!validatePopup()){
                    return;
                }
            }
            var params = new Object();

            if(window.parseFormToJSONObject){
                params = parseFormToJSONObject();
            }else{
                $('#editDataPopup :input').each(function(index){
                    params[$(this).attr('name')] =  $(this).val();
                });
            }

            $http.post("@dataSource&mode=save", JSON.stringify(params), $routeParams).success(function(data) {
//                $scope.data = data;
                updateCallback();
            });
            $('#@popupId').modal('hide');
        };
    }

    function showDataEditPopup(id, updCallback){
        updateCallback = updCallback;
        var scope = angular.element($("#editDataPopup")).scope();
        scope.updatedata(id);
        $('#@popupId').modal();
    }
</script>