<div class="hero-unit">
    <div id='chpasserror' class="alert alert-error hide">
        Error
    </div>
    @components.textbox("password1", "New password", "", "")
    @components.textbox("password2", "Retype password", "", "")

    <button onclick='savedata()' class="btn btn-primary">Save</button>
</div>
<script>
    function savedata(){
        var req = new Object();
        req.password1 = $('input[name=password1]').val();
        req.password2 = $('input[name=password2]').val();
        $.post('@routes.AjaxController.changePassword', req, function(data){
            if(data != 'ok'){
                $('#chpasserror').show();
            }else{
                $('#chpasserror').hide();
            }
        });
    }
</script>