@(fields: List[DataField], dataSource: String)

@components.ajaxtable("roles", fields, dataSource, "editWindow", true, true)

@components.popup("editWindow", "Administrator role", dataSource){
    <div class="control-group">
        <input type="hidden" name='id' value="{{data.data.id}}">

        @components.textbox("roleName", "Role name", "data.data.roleName", "")

        @for(privilege <- AdminRole.Privilegies.values()){
            @components.checkBox(privilege.toString(), privilege.toString(), "[false, true][data.data.userRights[" + privilege.ordinal() + "]]")
        }
    </div>
<script>
    function parseFormToJSONObject(){
        var userRights = '';
        @for(privilege <- AdminRole.Privilegies.values()){
            if($('[name="@privilege"]').prop('checked')){
                userRights = userRights + "1";
            }else{
                userRights = userRights + "0";
            }
        }
        var params = new Object();
        $('#editDataPopup input:not(checkbox)').each(function(index){
            params[$(this).attr('name')] =  $(this).val();
        });

        params['userRights'] = userRights;

        return params;
    }
</script>
}