@(fields: List[DataField], dataSource: String)

@components.ajaxtable(fields, dataSource, "editWindow", false, true)

@components.popup("editWindow", "title", dataSource, 900){
    @components.tabtable(Array("tab1", "tab2", "tab3"), 2){
        @components.tabpane("tab1", false){
            @components.textarea("texar", "textarea")
        }
        @components.tabpane("tab2", true){
            @components.richtexteditor("texar", "textarea title")
        }
        @components.tabpane("tab3", false){
            @components.picture("pict1", "#")
            @components.fileupload("picture", "Upload", "fileuploaddone", "")
        }
    }
    <script>
        function fileuploaddone(data){
            $('.pict1' ).attr('src', data);
            $('.pict1' ).removeClass('hide');
        }
    </script>
}