@(fields: List[DataField], dataSource: String)

@components.ajaxtable("variables", fields, dataSource, "editWindow", false, false)

@components.popup("editWindow", "Edit variable", dataSource){
    <div class="control-group">
        <input type="hidden" name='name' value="{{data.data.name}}">
        @components.textbox("val", "Value of string '{{data.data.name}}'", "data.data.val", "")
    </div>

    <script>
        function validatePopup(){

            return true;
        }
    </script>
}