@(fields: List[DataField], dataSource: String)

@components.ajaxtable("variables", fields, dataSource, "editWindow", false, false)

@components.popup("editWindow", "Edit variable", dataSource){
    <div class="control-group">
        <input type="hidden" name='name' value="{{data.data.name}}">
        <label class="control-label" for="varValue">Value of variable "{{data.data.name}}"</label>
        <div class="controls">
            <input type="text" id="varValue" name='val' placeholder="Variable value" ng-model="data.data.val">
        </div>
    </div>

    <script>
        function validatePopup(){

            return true;
        }
    </script>
}