@(form: Form[Application.Login])

@main("login", null, "Authorization") {
    @if(flash.contains("success")) {
    <div class="alert alert-success">
        @flash.get("success")
    </div>
    }


    <div class="container">
        @helper.form(action = routes.Application.authenticate(), 'class -> "form-signin") {
            <h2 class="form-signin-heading">Please sign in</h2>
            @if(form.hasGlobalErrors) {
                <div class="alert alert-error">
                    @form.globalError.message
                </div>
            }
            <input class="input-block-level" type="text" value="@form("login").value" placeholder="Login">
            <input class="input-block-level" type="password" placeholder="Password">
            <label class="checkbox">
                <input type="checkbox" value="remember-me">
                Remember me
            </label>
            <button class="btn btn-large btn-primary" type="submit">Sign in</button>
            or
            <a href="@routes.Application.registration">Registration</a>
        }
    </div>
}